x-custom-variables:
  &global-variables
  AEM_PUBLISH_HOSTNAME: aem-publish
  AEM_PUBLISH_HTTP_PORT: 4503
  DISPATCHER_HOSTNAME: dispatcher

services:
  aem-base-jvm8:
    build:
      context: .
      dockerfile: 1_base/Dockerfile
      args:
        JAVA_VERSION: 8
    image: aemdesign/aem-base:jdk8
    container_name: aem-base
    hostname: aem-base
    networks:
      - aem-network

  aem-base-jvm11:
    build:
      context: .
      dockerfile: 1_base/Dockerfile
      args:
        JAVA_VERSION: 11
    image: ciechanowiec/aem-base:jvm11-1.0.0
    container_name: aem-base
    hostname: aem-base
    networks:
      - aem-network

  aem-base-jvm21:
    build:
      context: .
      dockerfile: 1_base/Dockerfile
      args:
        JAVA_VERSION: 21
    image: ciechanowiec/aem-base:jvm21-1.0.0
    container_name: aem-base
    hostname: aem-base
    networks:
      - aem-network

  aem-author-65:
    build:
      context: .
      dockerfile: 2_aem/Dockerfile
      args:
        <<: *global-variables
        AEM_BASE_IMAGE_VERSION: jvm11-1.0.0
        IS_IDLE_REPLICATION_TO_AEM_PUBLISH: false
        AEM_DIR: /opt/aem/author
        AEM_TYPE: 65
        RUN_MODES: author,nosamplecontent,local,author-local,docker,author-docker,dynamicmedia_scene7
        INSTALL_WKND_SAMPLE: false
        AEM_HTTP_PORT: 4502
        AEM_HTTPS_PORT: 8443
        DEBUG_PORT: 8888
        NUM_OF_EXPECTED_BUNDLES_AFTER_FIRST_START: 617
        NUM_OF_EXPECTED_BUNDLES_AFTER_SECOND_AND_SUBSEQUENT_STARTS: 617
        LICENSE_KEY: ${LICENSE_KEY:-}
        SECRETS_DIR: /mnt/secrets
    environment:
      <<: *global-variables
      IS_IDLE_REPLICATION_TO_AEM_PUBLISH: false
      AEM_DIR: /opt/aem/author
      AEM_TYPE: 65
      RUN_MODES: author,nosamplecontent,local,author-local,docker,author-docker,dynamicmedia_scene7
      AEM_HTTP_PORT: 4502
      AEM_HTTPS_PORT: 8443
      DEBUG_PORT: 8888
      LICENSE_KEY: ${LICENSE_KEY:-}
      SECRETS_DIR: /mnt/secrets
    image: aem-author-65:latest
    container_name: aem-author-65
    volumes:
      - type: volume
        source: aem-author-65-data
        target: /opt/aem/author/crx-quickstart
      - type: bind
        source: secrets/SAMPLE_AEM_SECRET
        target: /mnt/secrets/SAMPLE_AEM_SECRET
        read_only: true
    # exec is required in order to set the Java process as PID 1 inside the container, since Docker sends
    # termination signals only to PID 1, and we need those signals to be handled by the java process:
    entrypoint: [ "sh", "-c", "exec $$AEM_DIR/aem-starter.sh" ]
    # Grace period should be long enough so that the JCR is closed correctly and doesn't get corrupted:
    stop_grace_period: 300s
    hostname: aem-author
    networks:
      - aem-network
    ports:
      - target: 4502
        published: 4502
        protocol: tcp
        mode: host
      - target: 8443
        published: 8443
        protocol: tcp
        mode: host
      - target: 8888
        published: 8888
        protocol: tcp
        mode: host
    depends_on:
      - aem-base-jvm11

  aem-author-cloud:
    build:
      context: .
      dockerfile: 2_aem/Dockerfile
      args:
        <<: *global-variables
        AEM_BASE_IMAGE_VERSION: jvm21-1.0.0
        IS_IDLE_REPLICATION_TO_AEM_PUBLISH: false
        AEM_DIR: /opt/aem/author
        AEM_TYPE: cloud
        RUN_MODES: author,nosamplecontent,local,author-local,docker
        INSTALL_WKND_SAMPLE: false
        # Docs:
        # https://experienceleague.adobe.com/en/docs/experience-manager-cloud-service/content/edge-delivery/wysiwyg-authoring/edge-dev-getting-started:
        INSTALL_XWALK_EDS_TEMPLATE: true
        # Docs:
        # https://experienceleague.adobe.com/en/docs/experience-manager-cloud-service/content/implementing/developing/universal-editor/developer-overview
        ENABLE_ACCESS_FOR_REMOTE_UNIVERSAL_EDITOR: true
        AEM_HTTP_PORT: 4502
        AEM_HTTPS_PORT: 8443
        # Docs:
        # https://experienceleague.adobe.com/en/docs/experience-manager-cloud-service/content/implementing/developing/universal-editor/local-dev:
        UNIVERSAL_EDITOR_SERVICE_PORT: 8000
        DEBUG_PORT: 8888
        NUM_OF_EXPECTED_BUNDLES_AFTER_FIRST_START: 725
        NUM_OF_EXPECTED_BUNDLES_AFTER_SECOND_AND_SUBSEQUENT_STARTS: 725
        LICENSE_KEY: ${LICENSE_KEY:-}
        SECRETS_DIR: /mnt/secrets
        PATH_INSIDE_CONTAINER_TO_EDS_GIT_REPOSITORY: /mnt/eds-git-repository
    environment:
      <<: *global-variables
      IS_IDLE_REPLICATION_TO_AEM_PUBLISH: false
      AEM_DIR: /opt/aem/author
      AEM_TYPE: cloud
      RUN_MODES: author,nosamplecontent,local,author-local,docker
      AEM_HTTP_PORT: 4502
      AEM_HTTPS_PORT: 8443
      # Docs:
      # https://experienceleague.adobe.com/en/docs/experience-manager-cloud-service/content/implementing/developing/universal-editor/local-dev:
      UNIVERSAL_EDITOR_SERVICE_PORT: 8000
      DEBUG_PORT: 8888
      LICENSE_KEY: ${LICENSE_KEY:-}
      SECRETS_DIR: /mnt/secrets
      # Config for `com.adobe.aem.wcm.franklin.use.Page#editorServiceEndpoint`
      # and `com.adobe.aem.wcm.franklin.internal.UniversalEditorSettings`. Required for
      # Universal Editor to work:
      AEM_XWALK_AUE_ENDPOINT: "https://localhost:8000"
      # Config for `com.adobe.aem.wcm.franklin.use.Page#editorConnection`
      # and `/libs/core/franklin/components/page/v1/page/page.html`. Required for
      # Universal Editor to work:
      AEM_EXTERNALIZER_AUTHOR: "https://localhost:8443"
      PATH_INSIDE_CONTAINER_TO_EDS_GIT_REPOSITORY: /mnt/eds-git-repository
    image: aem-author-cloud:latest
    container_name: aem-author-cloud
    volumes:
      - type: volume
        source: aem-author-cloud-data
        target: /opt/aem/author/crx-quickstart
      - type: bind
        source: secrets/SAMPLE_AEM_SECRET
        target: /mnt/secrets/SAMPLE_AEM_SECRET
        read_only: true
    # exec is required in order to set the Java process as PID 1 inside the container, since Docker sends
    # termination signals only to PID 1, and we need those signals to be handled by the java process:
    entrypoint: [ "sh", "-c", "exec $$AEM_DIR/aem-starter.sh" ]
    # Grace period should be long enough so that the JCR is closed correctly and doesn't get corrupted:
    stop_grace_period: 300s
    hostname: aem-author
    networks:
      - aem-network
    ports:
      - target: 4502
        published: 4502
        protocol: tcp
        mode: host
        # Default port for EDS proxy (https://github.com/adobe/helix-cli):
      - target: 3000
        published: 3000
        protocol: tcp
        mode: host
      - target: 8000
        published: 8000
        protocol: tcp
        mode: host
      - target: 8443
        published: 8443
        protocol: tcp
        mode: host
      - target: 8888
        published: 8888
        protocol: tcp
        mode: host
    depends_on:
      - aem-base-jvm21

  aem-publish-65:
    build:
      context: .
      dockerfile: 2_aem/Dockerfile
      args:
        <<: *global-variables
        AEM_BASE_IMAGE_VERSION: jvm11-1.0.0
        AEM_DIR: /opt/aem/publish
        AEM_TYPE: 65
        RUN_MODES: publish,nosamplecontent,local,publish-local,docker,publish-docker,dynamicmedia_scene7
        INSTALL_WKND_SAMPLE: false
        AEM_HTTP_PORT: 4503
        AEM_HTTPS_PORT: 8444
        DEBUG_PORT: 8889
        NUM_OF_EXPECTED_BUNDLES_AFTER_FIRST_START: 617
        NUM_OF_EXPECTED_BUNDLES_AFTER_SECOND_AND_SUBSEQUENT_STARTS: 617
        LICENSE_KEY: ${LICENSE_KEY:-}
        SECRETS_DIR: /mnt/secrets
    environment:
      AEM_DIR: /opt/aem/publish
      AEM_TYPE: 65
      RUN_MODES: publish,nosamplecontent,local,publish-local,docker,publish-docker,dynamicmedia_scene7
      AEM_HTTP_PORT: 4503
      AEM_HTTPS_PORT: 8444
      DEBUG_PORT: 8889
      LICENSE_KEY: ${LICENSE_KEY:-}
      SECRETS_DIR: /mnt/secrets
    image: aem-publish-65:latest
    container_name: aem-publish-65
    volumes:
      - type: volume
        source: aem-publish-65-data
        target: /opt/aem/publish/crx-quickstart
      - type: bind
        source: secrets/SAMPLE_AEM_SECRET
        target: /mnt/secrets/SAMPLE_AEM_SECRET
        read_only: true
    # exec is required in order to set the Java process as PID 1 inside the container, since Docker sends
    # termination signals only to PID 1, and we need those signals to be handled by the java process:
    entrypoint: [ "sh", "-c", "exec $$AEM_DIR/aem-starter.sh" ]
    # Grace period should be long enough so that the JCR is closed correctly and doesn't get corrupted:
    stop_grace_period: 300s
    hostname: aem-publish
    networks:
      - aem-network
    ports:
      - target: 4503
        published: 4503
        protocol: tcp
        mode: host
      - target: 8444
        published: 8444
        protocol: tcp
        mode: host
      - target: 8889
        published: 8889
        protocol: tcp
        mode: host
    depends_on:
      - aem-base-jvm11

  aem-publish-cloud:
    build:
      context: .
      dockerfile: 2_aem/Dockerfile
      args:
        <<: *global-variables
        AEM_BASE_IMAGE_VERSION: jvm21-1.0.0
        AEM_DIR: /opt/aem/publish
        AEM_TYPE: cloud
        RUN_MODES: publish,nosamplecontent,local,publish-local,docker
        INSTALL_WKND_SAMPLE: false
        AEM_HTTP_PORT: 4503
        AEM_HTTPS_PORT: 8444
        DEBUG_PORT: 8889
        NUM_OF_EXPECTED_BUNDLES_AFTER_FIRST_START: 719
        NUM_OF_EXPECTED_BUNDLES_AFTER_SECOND_AND_SUBSEQUENT_STARTS: 719
        LICENSE_KEY: ${LICENSE_KEY:-}
        SECRETS_DIR: /mnt/secrets
    environment:
      AEM_DIR: /opt/aem/publish
      AEM_TYPE: cloud
      RUN_MODES: publish,nosamplecontent,local,publish-local,docker
      AEM_HTTP_PORT: 4503
      AEM_HTTPS_PORT: 8444
      DEBUG_PORT: 8889
      LICENSE_KEY: ${LICENSE_KEY:-}
      SECRETS_DIR: /mnt/secrets
    image: aem-publish-cloud:latest
    container_name: aem-publish-cloud
    volumes:
      - type: volume
        source: aem-publish-cloud-data
        target: /opt/aem/publish/crx-quickstart
      - type: bind
        source: secrets/SAMPLE_AEM_SECRET
        target: /mnt/secrets/SAMPLE_AEM_SECRET
        read_only: true
    # exec is required in order to set the Java process as PID 1 inside the container, since Docker sends
    # termination signals only to PID 1, and we need those signals to be handled by the java process:
    entrypoint: [ "sh", "-c", "exec $$AEM_DIR/aem-starter.sh" ]
    # Grace period should be long enough so that the JCR is closed correctly and doesn't get corrupted:
    stop_grace_period: 300s
    hostname: aem-publish
    networks:
      - aem-network
    ports:
      - target: 4503
        published: 4503
        protocol: tcp
        mode: host
      - target: 8444
        published: 8444
        protocol: tcp
        mode: host
      - target: 8889
        published: 8889
        protocol: tcp
        mode: host
    depends_on:
      - aem-base-jvm21

  dispatcher-ams:
    build:
      context: 3_dispatcher_httpd
      dockerfile: Dockerfile
      args:
        <<: *global-variables
        CPU_ARCH: x86_64
    image: dispatcher:latest
    container_name: dispatcher
    hostname: dispatcher
    networks:
      - aem-network
    ports:
      - target: 80
        published: 80
        protocol: tcp
        mode: host
      - target: 8443
        published: 443
        protocol: tcp
        mode: host
    environment:
      - DISP_ID=docker
      ## Replace value with the Author IP and Port you are using:
      - AUTHOR_IP=aem-author
      - AUTHOR_PORT=4502
      - AUTHOR_DEFAULT_HOSTNAME=aem-author
      - AUTHOR_DOCROOT=/mnt/var/www/author
      ## Replace value with the Publisher IP and Port you are using:
      - PUBLISH_IP=aem-publish
      - PUBLISH_PORT=4503
      - PUBLISH_DEFAULT_HOSTNAME=aem-publish
      - PUBLISH_DOCROOT=/mnt/var/www/html
      ## Replace value with the LiveCycle IP and Port you are using:
      - LIVECYCLE_IP=127.0.0.1
      - LIVECYCLE_PORT=8080
      - LIVECYCLE_DEFAULT_HOSTNAME=aemforms-exampleco-dev.adobecqms.net
      - LIVECYCLE_DOCROOT=/var/www/lc
      - PUBLISH_FORCE_SSL=0
      - AUTHOR_FORCE_SSL=0
      ## Enable / Disable CRXDE access.  Production this should be disabled
      - CRX_FILTER=deny
      ## Allow dispatcher flush from any IP
      - DISPATCHER_FLUSH_FROM_ANYWHERE=allow
      ## Extra variables for HB environment
      - HUGOBOSS_SERVER_NAME_PUBLISH=publish.hb.local
      - HUGOBOSS_SERVER_ALIAS_PUBLISH=publish.hb.local
      - HUGOBOSS_SERVER_NAME_AUTHOR=author.hb.local
      - HUGOBOSS_SERVER_ALIAS_AUTHOR=author.hb.local
    depends_on:
      - aem-base-jvm11

  dispatcher-amd:
    build:
      context: .
      dockerfile: 3_dispatcher/Dockerfile
      args:
        <<: *global-variables
        CPU_ARCH: x86_64
    image: dispatcher-amd:latest
    container_name: dispatcher-amd
    hostname: dispatcher
    networks:
      - aem-network
    ports:
      - target: 80
        published: 80
        protocol: tcp
        mode: host
    depends_on:
      - aem-base-jvm11

  dispatcher-arm:
    build:
      context: .
      dockerfile: 3_dispatcher/Dockerfile
      args:
        <<: *global-variables
        CPU_ARCH: aarch64
    image: dispatcher-arm:latest
    container_name: dispatcher-arm
    hostname: dispatcher
    networks:
      - aem-network
    ports:
      - target: 80
        published: 80
        protocol: tcp
        mode: host
    depends_on:
      - aem-base-jvm11

  fake-smtp-server:
    environment:
      - FAKESMTP_AUTHENTICATION_USERNAME=myuser
      - FAKESMTP_AUTHENTICATION_PASSWORD=mysecretpassword
    image: gessnerfl/fake-smtp-server:2.1.3
    container_name: fake-smtp-server
    hostname: fake-smtp-server
    networks:
      - aem-network
    ports:
      # expose smtp port:
      - target: 8025
        published: 8025
        protocol: tcp
        mode: host
        # expose web ui:
      - target: 8080
        published: 8080
        protocol: tcp
        mode: host
        # expose management api:
      - target: 8081
        published: 8081
        protocol: tcp
        mode: host

volumes:
  aem-author-65-data:
    name: "aem-author-65-data"
  aem-author-cloud-data:
    name: "aem-author-cloud-data"
  aem-publish-65-data:
    name: "aem-publish-65-data"
  aem-publish-cloud-data:
    name: "aem-publish-cloud-data"

networks:
  aem-network:
    driver: bridge
    # This name is required to avoid name prefixing by Docker:
    name: aem-network
